Repository a-company-jp/digi-baton, changes with the labels that .github/labeler.yml gives for each.
All labels: Backend, Frontend, Crypto, CI/CD, ChromePoC, ChromeExt, External, Infra

🐛 change directory for frontend ci
  .github/workflows/azure-deploy-backend.yml
  .github/workflows/build-backend.yml
  .github/workflows/check-db-generations.yml
  .github/workflows/chrome-build.yml
  .github/workflows/chrome-e2e.yml
  .github/workflows/chrome-lint.yml
  .github/workflows/chrome-prettier.yml
  .github/workflows/frontend-build.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yaml
Labels: CI/CD, Infra

🔧 configure NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY on CI
  .github/workflows/frontend-build.yml
Labels: CI/CD

shadcn reset
  frontend/app/globals.css
  frontend/components.json
  frontend/components/ui/badge.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/checkbox.tsx
  frontend/components/ui/command.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/form.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/popover.tsx
  frontend/components/ui/sonner.tsx
  frontend/components/ui/table.tsx
  frontend/components/ui/tabs.tsx
Labels: Frontend

✨ userのselectbox
  frontend/app/(dashboard)/accounts/user-select.tsx
Labels: Frontend

⚰️ 不要なコンポーネント削除
  frontend/components/ui/avatar.tsx
  frontend/components/ui/radio-group.tsx
Labels: Frontend

✨ toastの設置
  frontend/app/layout.tsx
Labels: Frontend

🗃️ [Add] disclosures sql
  backend/db/query/disclosures.mut.sql.go
  backend/db/query/disclosures.query.sql.go
  backend/db/query/models.go
  backend/db/query/sql/disclosures.mut.sql
  backend/db/query/sql/disclosures.query.sql
Labels: Backend

✨ form制御関連のライブラリインストール
  frontend/package.json
  pnpm-lock.yaml
Labels: Frontend

✨ [Add] disclosures handlers
  backend/handlers/disclosures.go
  backend/handlers/utils.go
Labels: Backend

✨ [Update] routing
  backend/main.go
Labels: Backend

📝 [Update] open api
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Labels: Backend

🗃️ [Add] disclosures sql
  backend/db/query/disclosures.mut.sql.go
  backend/db/query/disclosures.query.sql.go
  backend/db/query/models.go
  backend/db/query/sql/disclosures.mut.sql
  backend/db/query/sql/disclosures.query.sql
Labels: Backend

✨ [Add] disclosures handlers
  backend/handlers/disclosures.go
  backend/handlers/utils.go
Labels: Backend

✨ [Update] routing
  backend/main.go
Labels: Backend

📝 [Update] open api
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Labels: Backend

🗃️ [Add] alive_check_histories sql
  backend/db/query/alive_check_histories.mut.sql.go
  backend/db/query/alive_check_histories.query.sql.go
  backend/db/query/models.go
  backend/db/query/sql/alive_check_histories.mut.sql
  backend/db/query/sql/alive_check_histories.query.sql
Labels: Backend

✨ [Add] disclosures handlers
  backend/handlers/alive_checks.go
Labels: Backend

✨ [Update] routing
  backend/main.go
Labels: Backend

📝 [Update] open api
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
Labels: Backend

✨ モックデータ　
  frontend/app/(dashboard)/accounts/mock-data.ts
Labels: Frontend

✨ accountページの作成
  frontend/app/(dashboard)/accounts/account-creation-dialog.tsx
  frontend/app/(dashboard)/accounts/account-edit-modal.tsx
  frontend/app/(dashboard)/accounts/account-template-selector.tsx
  frontend/app/(dashboard)/accounts/accounts-card-view.tsx
  frontend/app/(dashboard)/accounts/accounts-table.tsx
  frontend/app/(dashboard)/accounts/page.tsx
  frontend/lib/utils.ts
Labels: Frontend

✨ アカウントテーブルで削除の実装
  frontend/app/(dashboard)/accounts/accounts-table.tsx
  frontend/app/(dashboard)/accounts/page.tsx
Labels: Frontend

🎨 accounts-tableのpagination改善
  frontend/app/(dashboard)/accounts/accounts-table.tsx
Labels: Frontend

✨ add component
  frontend/components/ui/chart.tsx
  frontend/components/ui/select.tsx
  frontend/package.json
  pnpm-lock.yaml
Labels: Frontend

.github/labeler.yml:

Backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

Frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

Crypto:
  - changed-files:
    - any-glob-to-any-file: 'crypto/**'

CI/CD:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

ChromePoC:
  - changed-files:
    - any-glob-to-any-file: 'chrome-poc/**'

ChromeExt:
  - changed-files:
    - any-glob-to-any-file: 'chrome-ext/**'

External:
  - changed-files:
    - any-glob-to-any-file: 'external/**'

Infra:
  - changed-files:
    - any-glob-to-any-file: 'infra/**'
    - any-glob-to-any-file: '.github/workflows/terragrunt-apply.yml'
    - any-glob-to-any-file: '.github/workflows/terragrunt-plan.yml'
