Repository a-company-jp/digi-baton, changes with the labels that .github/labeler.yml gives for each.
All labels: Backend, Frontend, Crypto, CI/CD, External, Infra

🔀 Merge branch 'main' into add/orval
  backend/cmd/webauthn-backend-demo/beta/main.go
  backend/cmd/webauthn-backend-demo/keystore.go
  backend/cmd/webauthn-backend-demo/main.go
  backend/cmd/webauthn-backend-demo/process_create.go
  backend/cmd/webauthn-backend-demo/process_get.go
  backend/cmd/webauthn-demo/main.go
  backend/cmd/webauthn-demo/public/app.js
  backend/cmd/webauthn-demo/public/index.html
  backend/cmd/webauthn-sample/main.go
  backend/cmd/webauthn-test/keystore.go
  backend/cmd/webauthn-test/main.go
  backend/go.mod
  backend/go.sum
  chrome-extension/.gitignore
  chrome-extension/manifest.json
  chrome-extension/package.json
  chrome-extension/popup.html
  chrome-extension/popup.js
  chrome-extension/src/background.ts
  chrome-extension/src/index.d.ts
  chrome-extension/tsconfig.json
  frontend/.env.example
  frontend/.gitignore
  frontend/app/layout.tsx
  go.work.sum
Labels: Backend, Frontend

♻️ refactor codebase
  chrome-extension/src/api/base.ts
  chrome-extension/src/api/check.ts
  chrome-extension/src/api/create-key.ts
  chrome-extension/src/api/get-assertion.ts
  chrome-extension/src/background.ts
  chrome-extension/src/pkg/log.ts
Labels: none

📌 update pnpm locks & go lock
  go.work.sum
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

👷 introduce CIs for chrome
  .github/workflows/chrome-build.yml
  .github/workflows/chrome-e2e.yml
  .github/workflows/chrome-lint.yml
  .github/workflows/chrome-prettier.yml
Labels: CI/CD

👷 specify node version 22
  .github/workflows/chrome-build.yml
  .github/workflows/chrome-e2e.yml
  .github/workflows/chrome-lint.yml
  .github/workflows/chrome-prettier.yml
Labels: CI/CD

.github/labeler.yml:

Backend:
  - changed-files:
    - any-glob-to-any-file: 'backend/**'

Frontend:
  - changed-files:
    - any-glob-to-any-file: 'frontend/**'

Crypto:
  - changed-files:
    - any-glob-to-any-file: 'crypto/**'

CI/CD:
  - changed-files:
    - any-glob-to-any-file: '.github/**'

External:
  - changed-files:
    - any-glob-to-any-file: 'external/**'

Infra:
  - changed-files:
    - any-glob-to-any-file: 'infra/**'
    - any-glob-to-any-file: '.github/workflows/terragrunt-apply.yml'
    - any-glob-to-any-file: '.github/workflows/terragrunt-plan.yml'
