Repository a-company-jp/digi-baton, pull requests merged in 2025-03, with the labels that each got.

#10 基本的なCIのセットアップ
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/workflows/auto-label-conflicts.yaml
  .github/workflows/auto-labeler.yaml
  .github/workflows/build-backend.yml
  .github/workflows/check-db-generations.yml
  .github/workflows/lint-frontend.yml
  .gitignore
  .husky/pre-commit
  frontend/.prettierignore
  frontend/.prettierrc.mjs
  frontend/app/(dashboard)/page.tsx
  frontend/app/api/stripe/checkout/route.ts
  frontend/app/api/stripe/webhook/route.ts
  frontend/app/layout.tsx
  frontend/app/not-found.tsx
  frontend/app/sign-in/[[...sign-in]]/page.tsx
  frontend/app/sign-up/[[...sign-up]]/page.tsx
  frontend/components/ui/avatar.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/radio-group.tsx
  frontend/eslint.config.mjs
  frontend/lib/auth/index.tsx
  frontend/lib/auth/middleware.ts
  frontend/lib/auth/session.ts
  frontend/lib/db/drizzle.ts
  frontend/lib/db/migrations/0000_soft_the_anarchist.sql
  frontend/lib/db/migrations/meta/0000_snapshot.json
  frontend/lib/db/migrations/meta/_journal.json
  frontend/lib/db/queries.ts
  frontend/lib/db/schema.ts
  frontend/lib/db/seed.ts
  frontend/lib/db/setup.ts
  frontend/lib/payments/actions.ts
  frontend/lib/payments/stripe.ts
  frontend/lib/utils.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: Review effort 4/5

#13 Azure Terragruntレポジトリのセットアップ
  .github/scripts/tfwrapper.sh
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yaml
  aqua.yaml
  infra/.gitignore
  infra/envs/dev/resource.tf
  infra/envs/dev/terragrunt.hcl
  infra/provider/main/azure.tf
  infra/provider/main/version.tf
  infra/terragrunt.hcl
Labels: Review effort 2/5, CI/CD, Infra, dev/add-or-update

#14 🧱 ContainerRegistryの作成
  infra/envs/dev/acr.tf
  infra/envs/dev/resource.tf
Labels: Review effort 2/5, Infra, dev/add-or-update

#16 👷 (check-db-generations) fix postgres deployment config
  .github/docker-compose.yml
  .github/workflows/check-db-generations.yml
Labels: Review effort 2/5, CI/CD

#18 各ページのレイアウトを作成
  frontend/app/(dashboard)/accounts/page.tsx
  frontend/app/(dashboard)/devices/page.tsx
  frontend/app/(dashboard)/layout.tsx
  frontend/app/(dashboard)/settings/page.tsx
  frontend/app/(dashboard)/subscriptions/page.tsx
  frontend/app/layout.tsx
  frontend/pnpm-lock.yaml
  package.json
  pnpm-lock.yaml
Labels: Frontend

#19 ダッシュボードのUIの配置
  frontend/app/(dashboard)/account-card.tsx
  frontend/app/(dashboard)/dashboard-card.tsx
  frontend/app/(dashboard)/device-card.tsx
  frontend/app/(dashboard)/layout.tsx
  frontend/app/(dashboard)/page.tsx
  frontend/app/(dashboard)/subscription-card.tsx
  frontend/app/layout.tsx
  frontend/public/icons/google.png
  frontend/public/icons/pc.png
  frontend/public/icons/phone.png
  frontend/public/icons/prime_video.png
  frontend/public/icons/tablet.png
  frontend/public/icons/youtube_premium.jpg
  frontend/public/imgs/welcome_icon.png
Labels: Frontend

#17 Chrome拡張機能PoCの作成
  backend/cmd/webauthn-backend-demo/beta/main.go
  backend/cmd/webauthn-backend-demo/keystore.go
  backend/cmd/webauthn-backend-demo/main.go
  backend/cmd/webauthn-backend-demo/process_create.go
  backend/cmd/webauthn-backend-demo/process_get.go
  backend/cmd/webauthn-demo/main.go
  backend/cmd/webauthn-demo/public/app.js
  backend/cmd/webauthn-demo/public/index.html
  backend/cmd/webauthn-sample/main.go
  backend/cmd/webauthn-test/keystore.go
  backend/cmd/webauthn-test/main.go
  backend/go.mod
  backend/go.sum
  chrome-extension/.gitignore
  chrome-extension/manifest.json
  chrome-extension/package.json
  chrome-extension/popup.html
  chrome-extension/popup.js
  chrome-extension/src/background.ts
  chrome-extension/src/index.d.ts
  chrome-extension/tsconfig.json
  go.work.sum
  pnpm-lock.yaml
Labels: Review effort 5/5, Backend

#20 [Add] `api/v1/users`
  backend/.env.example
  backend/Makefile
  backend/config/config.go
  backend/config/db.go
  backend/config/server.go
  backend/db/query/models.go
  backend/db/query/passer_mutation.sql.go
  backend/db/query/passer_query.sql.go
  backend/db/query/receiver_query.sql.go
  backend/db/query/sql/passer_mutation.sql
  backend/db/query/sql/passer_query.sql
  backend/db/query/sql/receiver_mutation.sql
  backend/db/query/sql/receiver_query.sql
  backend/db/query/sql/users.mut.sql
  backend/db/query/users.mut.sql.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/handlers/error.go
  backend/handlers/users.go
  backend/main.go
  go.work.sum
Labels: Backend

#22 [Add] `/api/v1/devices`
  backend/db/query/devices.mut.sql.go
  backend/db/query/devices.query.sql.go
  backend/db/query/models.go
  backend/db/query/sql/devices.mut.sql
  backend/db/query/sql/devices.query.sql
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/handlers/devices.go
  backend/main.go
Labels: Review effort 4/5, Backend

#23 [Add] `api/v1/trusts`
  backend/db/query/models.go
  backend/db/query/sql/trusts.mut.sql
  backend/db/query/sql/trusts.query.sql
  backend/db/query/trusts.mut.sql.go
  backend/db/query/trusts.query.sql.go
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/handlers/trusts.go
  backend/main.go
Labels: Review effort 4/5, Backend

#24 [Add] orval
  README.md
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.orval.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/handlers/accounts.go
  backend/handlers/devices.go
  backend/main.go
  frontend/.env.example
  frontend/.gitignore
  frontend/app/api/generated/accounts/accounts.ts
  frontend/app/api/generated/devices/devices.ts
  frontend/app/api/generated/schemas/getAccountsParams.ts
  frontend/app/api/generated/schemas/getDevicesParams.ts
  frontend/app/api/generated/schemas/getTrustsParams.ts
  frontend/app/api/generated/schemas/handlersAccountCreateRequest.ts
  frontend/app/api/generated/schemas/handlersAccountCreateRequestBody.ts
  frontend/app/api/generated/schemas/handlersAccountResponse.ts
  frontend/app/api/generated/schemas/handlersDeleteAccountCreateRequest.ts
  frontend/app/api/generated/schemas/handlersDeleteDeviceCreateRequest.ts
  frontend/app/api/generated/schemas/handlersDeleteTrustRequest.ts
  frontend/app/api/generated/schemas/handlersDeviceCreateRequest.ts
  frontend/app/api/generated/schemas/handlersDeviceCreateRequestBody.ts
  frontend/app/api/generated/schemas/handlersDeviceResponse.ts
  frontend/app/api/generated/schemas/handlersErrorResponse.ts
  frontend/app/api/generated/schemas/handlersTrustRequest.ts
  frontend/app/api/generated/schemas/handlersTrustResponse.ts
  frontend/app/api/generated/schemas/handlersUpdateTrustRequest.ts
  frontend/app/api/generated/schemas/handlersUserCreateRequest.ts
  frontend/app/api/generated/schemas/handlersUserCreateRequestBody.ts
  frontend/app/api/generated/schemas/handlersUserResponse.ts
  frontend/app/api/generated/schemas/index.ts
  frontend/app/api/generated/trusts/trusts.ts
  frontend/app/api/generated/users/users.ts
  frontend/app/layout.tsx
  frontend/components/query-provider.tsx
  frontend/lib/fetch.ts
  frontend/orval.config.ts
  frontend/package.json
  go.work.sum
  pnpm-lock.yaml
  pyproject.toml
  scripts/openapi.py
  uv.lock
Labels: Review effort 5/5, Frontend, Backend

#26 Modify CI for frontend
  .github/workflows/azure-deploy-backend.yml
  .github/workflows/build-backend.yml
  .github/workflows/check-db-generations.yml
  .github/workflows/chrome-build.yml
  .github/workflows/chrome-e2e.yml
  .github/workflows/chrome-lint.yml
  .github/workflows/chrome-prettier.yml
  .github/workflows/frontend-build.yml
  .github/workflows/frontend-lint.yml
  .github/workflows/terragrunt-apply.yml
  .github/workflows/terragrunt-plan.yaml
Labels: Review effort 3/5, CI/CD, Infra

#28 [Add] `api/disclosures`
  backend/db/query/disclosures.mut.sql.go
  backend/db/query/disclosures.query.sql.go
  backend/db/query/models.go
  backend/db/query/sql/disclosures.mut.sql
  backend/db/query/sql/disclosures.query.sql
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/handlers/disclosures.go
  backend/handlers/utils.go
  backend/main.go
Labels: Review effort 4/5, Backend

#30 🧱 public storage bucket on azure
  infra/envs/dev/storage.tf
Labels: Infra, dev/add-or-update, Review effort 1/5

#34 🧱 change acr repo to main
  infra/envs/dev/acr.tf
Labels: Infra, Review effort 1/5, dev/destroy

#37 Feature/page
  backend/handlers/accounts.go
  backend/handlers/utils.go
  frontend/app/(dashboard)/accounts/account-creation-dialog.tsx
  frontend/app/(dashboard)/accounts/account-edit-modal.tsx
  frontend/app/(dashboard)/accounts/account-template-selector.tsx
  frontend/app/(dashboard)/accounts/accounts-card-view.tsx
  frontend/app/(dashboard)/accounts/accounts-table.tsx
  frontend/app/(dashboard)/accounts/mock-data.ts
  frontend/app/(dashboard)/accounts/page.tsx
  frontend/app/(dashboard)/accounts/user-select.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/query_provider.tsx
  frontend/components.json
  frontend/components/ui/alert.tsx
  frontend/components/ui/avatar.tsx
  frontend/components/ui/badge.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/chart.tsx
  frontend/components/ui/checkbox.tsx
  frontend/components/ui/command.tsx
  frontend/components/ui/dialog.tsx
  frontend/components/ui/dropdown-menu.tsx
  frontend/components/ui/form.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/popover.tsx
  frontend/components/ui/radio-group.tsx
  frontend/components/ui/select.tsx
  frontend/components/ui/sonner.tsx
  frontend/components/ui/table.tsx
  frontend/components/ui/tabs.tsx
  frontend/eslint.config.mjs
  frontend/lib/client-fetch.ts
  frontend/lib/fetch.ts
  frontend/lib/utils.ts
  frontend/package.json
  pnpm-lock.yaml
Labels: Review effort 4/5, Frontend, Backend

#39 Feature/list
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/handlers/accounts.go
  backend/handlers/devices.go
  frontend/app/(dashboard)/account-card.tsx
  frontend/app/(dashboard)/accounts/account-creation-dialog.tsx
  frontend/app/(dashboard)/accounts/account-edit-modal.tsx
  frontend/app/(dashboard)/accounts/accounts-card-view.tsx
  frontend/app/(dashboard)/accounts/accounts-table.tsx
  frontend/app/(dashboard)/accounts/page.tsx
  frontend/app/(dashboard)/page.tsx
  frontend/app/api/generated/accounts/accounts.ts
  frontend/app/api/generated/schemas/handlersAccountCreateRequest.ts
  frontend/app/api/generated/schemas/handlersAccountCreateRequestCustomData.ts
  frontend/app/api/generated/schemas/handlersAccountResponse.ts
  frontend/app/api/generated/schemas/handlersAccountResponseCustomData.ts
  frontend/app/api/generated/schemas/handlersAccountTemplateResponse.ts
  frontend/app/api/generated/schemas/handlersDeviceCreateRequest.ts
  frontend/app/api/generated/schemas/handlersDeviceCreateRequestCustomData.ts
  frontend/app/api/generated/schemas/handlersDeviceResponse.ts
  frontend/app/api/generated/schemas/handlersDeviceResponseCustomData.ts
  frontend/app/api/generated/schemas/index.ts
Labels: Review effort 4/5, Frontend, Backend

#41 [Add] `api/receivers`
  backend/db/query/receivers.query.sql.go
  backend/db/query/sql/receivers.query.sql
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/handlers/receivers.go
  backend/main.go
  frontend/app/api/generated/receivers/receivers.ts
  frontend/app/api/generated/schemas/getReceiversParams.ts
  frontend/app/api/generated/schemas/handlersReceiverResponse.ts
  frontend/app/api/generated/schemas/index.ts
Labels: Review effort 4/5, Frontend, Backend

#42 🚀 chmod +x /app_main
  backend/build/Dockerfile.prod
Labels: Backend, Review effort 1/5

#44 shion/AZURE SQL HOST
  .github/workflows/azure-deploy-backend.yml
  .github/workflows/azure-deploy-frontend.yml
  backend/config/config.go
  backend/config/db.go
Labels: Backend, CI/CD

#46 🐛 [backend] retry for postgres connections
  .github/workflows/azure-deploy-backend.yml
  .github/workflows/azure-deploy-frontend.yml
  backend/main.go
  infra/envs/dev/database.tf
  infra/envs/dev/identity.tf
  infra/envs/dev/network.tf
  infra/envs/dev/secret.tf
  infra/envs/dev/tenant.tf
Labels: Review effort 2/5, Backend, CI/CD, Infra

#48 feature/accounts create
  backend/db/migrations/000001_init.up.sql
  backend/db/query/accounts.mut.sql.go
  backend/db/query/devices.mut.sql.go
  backend/db/query/models.go
  backend/db/query/receivers.query.sql.go
  backend/db/query/sql/accounts.mut.sql
  backend/db/query/sql/receivers.query.sql
  backend/db/query/subscriptions.mut.sql.go
  backend/db/schema.sql
  backend/db/seed/000002_init.up.sql
  backend/docs/docs.go
  backend/docs/swagger.json
  backend/docs/swagger.yaml
  backend/go.mod
  backend/go.sum
  backend/handlers/accounts.go
  backend/handlers/receivers.go
  backend/handlers/users.go
  backend/main.go
  backend/middleware/auth.go
  chrome-ext/pnpm-lock.yaml
  crypto/Makefile
  crypto/db/seed/000001_init.down.sql
  crypto/db/seed/000001_init.up.sql
  crypto/main.go
  frontend/app/(dashboard)/accounts/account-creation-dialog.tsx
  frontend/app/(dashboard)/accounts/account-template-selector.tsx
  frontend/app/(dashboard)/accounts/accounts-table.tsx
  frontend/app/(dashboard)/accounts/trust-user-select.tsx
  frontend/app/(dashboard)/accounts/user-select.tsx
  frontend/app/api/generated/receivers/receivers.ts
  frontend/app/api/generated/schemas/getReceiversParams.ts
  frontend/app/api/generated/schemas/handlersAccountCreateRequest.ts
  frontend/app/api/generated/schemas/handlersAccountResponse.ts
  frontend/app/api/generated/schemas/handlersAccountTemplateResponse.ts
  frontend/app/api/generated/schemas/handlersReceiverResponse.ts
  frontend/app/api/generated/schemas/handlersUserCreateRequest.ts
  frontend/app/api/generated/schemas/handlersUserResponse.ts
  frontend/app/api/generated/schemas/index.ts
  frontend/app/api/generated/users/users.ts
  frontend/next.config.ts
  go.work.sum
Labels: Frontend, Backend, Crypto, ChromeExt

#51 fix: some error
  backend/handlers/accounts.go
  backend/handlers/devices.go
  backend/handlers/subscriptions.go
Labels: Backend

#49 [UI] dashboards
  frontend/app/(dashboard)/account-card.tsx
  frontend/app/(dashboard)/accounts/accounts-table.tsx
  frontend/app/(dashboard)/accounts/page.tsx
  frontend/app/(dashboard)/common.tsx
  frontend/app/(dashboard)/devices/devices-table.tsx
  frontend/app/(dashboard)/devices/mock-data.ts
  frontend/app/(dashboard)/devices/page.tsx
  frontend/app/(dashboard)/subscriptions/mock-data.ts
  frontend/app/(dashboard)/subscriptions/page.tsx
  frontend/app/(dashboard)/subscriptions/subscriptions-table.tsx
  frontend/app/(dashboard)/table-common.tsx
  frontend/app/hooks/useCopyClipboard.ts
  frontend/components/ui/table.tsx
Labels: Review effort 4/5, Frontend

#52 Terraformの反映と Cryptoのデプロイ
  .github/workflows/azure-deploy-crypto.yml
  crypto/Dockerfile
  infra/envs/dev/container_apps.tf
  infra/envs/dev/secret.tf
Labels: Review effort 3/5, CI/CD, Infra, Crypto, dev/no-changes

#54 CryptoのDSN読み込み修正
  chrome-ext/chrome-extension/index.d.ts
  chrome-ext/chrome-extension/src/background/api/get-assertion.ts
  chrome-ext/chrome-extension/src/background/index.ts
  chrome-ext/chrome-extension/src/background/pkg/log.ts
  chrome-ext/packages/ui/lib/components/PasskeyLoginPopUp.tsx
  chrome-ext/pages/content-ui/src/App.tsx
  chrome-ext/pnpm-lock.yaml
  crypto/main.go
Labels: Crypto, ChromeExt

#55 Chromeのバックエンド
  backend/db/query/sql/trusts.query.sql
  backend/db/query/trusts.query.sql.go
  backend/handlers/chrome.go
  backend/main.go
  backend/pkg/webauthn/create.go
  backend/pkg/webauthn/get.go
  backend/pkg/webauthn/store.go
Labels: Backend

#56 feature/email
  backend/.env.example
  backend/db/query/sql/users.query.sql
  backend/db/query/users.query.sql.go
  backend/db/seed/000002_init.up.sql
  backend/go.mod
  backend/go.sum
  backend/handlers/disclosures.go
  backend/handlers/verification.go
  backend/main.go
  backend/pkg/mail/sender.go
  backend/pkg/verification/token.go
  frontend/app/api/verification/send-email/route.ts
  frontend/app/api/verify/token/route.ts
  frontend/app/verify/page.tsx
Labels: Review effort 4/5, Frontend, Backend

#57 ✨ disclosureの取り方を直す
  frontend/app/(dashboard)/disclose/disclosures-table.tsx
  frontend/app/(dashboard)/disclose/page.tsx
Labels: Review effort 3/5, Frontend
